In [201]:
#Importing Libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

In [202]:
#Reading the dataset
df = pd.read_csv('./Datasets/Loan Prediction.csv')
df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [203]:
#Dropping unnecessary columns
df = df.drop(['Loan_ID'], axis=1)

In [204]:
#Identifying the missing values
df.isnull().sum()
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [205]:
#Filling the missing values
imputer= SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imputer.fit(df)
df=pd.DataFrame(imputer.transform(df), columns=df.columns)
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,120.0,360.0,1.0,Urban,Y
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [206]:
#Encoding the categorical data
ct= ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [0,1,3,4,-1])], remainder='passthrough')
x= pd.DataFrame(ct.fit_transform(df))
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,5849,0.0,120.0,360.0,1.0,Urban
1,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1,4583,1508.0,128.0,360.0,1.0,Rural
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0,3000,0.0,66.0,360.0,1.0,Urban
3,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0,2583,2358.0,120.0,360.0,1.0,Urban
4,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,6000,0.0,141.0,360.0,1.0,Urban
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,2900,0.0,71.0,360.0,1.0,Rural
610,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,3+,4106,0.0,40.0,180.0,1.0,Rural
611,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1,8072,240.0,253.0,360.0,1.0,Urban
612,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,2,7583,0.0,187.0,360.0,1.0,Urban
613,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0,4583,0.0,133.0,360.0,0.0,Semiurban

In [207]:
#Encoding the categorical data
le=LabelEncoder()
x[16]=le.fit_transform(x[16])
x

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,5849,0.0,120.0,360.0,1.0,2
1,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,1,4583,1508.0,128.0,360.0,1.0,0
2,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,1.0,0,3000,0.0,66.0,360.0,1.0,2
3,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,1.0,0,2583,2358.0,120.0,360.0,1.0,2
4,0.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,6000,0.0,141.0,360.0,1.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,1.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0,2900,0.0,71.0,360.0,1.0,0
610,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,3+,4106,0.0,40.0,180.0,1.0,0
611,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,1,8072,240.0,253.0,360.0,1.0,2
612,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,2,7583,0.0,187.0,360.0,1.0,2
613,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0,4583,0.0,133.0,360.0,0.0,1